﻿@model CeeLearnAndDo.Models.ContactInzending
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Create</h1>

<div class="container">
    <div align="center">
        <h1>Contact</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Heeft u een opmerking of een vraag? Neem contact met ons op door het formulier in te vullen.<br />

        </div>
        <div class="col-md">
            @using (Html.BeginForm("Create", "ContactInzending", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Naam, new { @placeholder = "Naam" })
                @Html.ValidationMessageFor(m => m.Naam)
                @Html.TextBoxFor(m => m.Telefoon, new { @placeholder = "Telefoon" })
                @Html.ValidationMessageFor(m => m.Telefoon)
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-mail adres" })
                @Html.ValidationMessageFor(m => m.Email)
                @Html.TextBoxFor(m => m.Content, new { @placeholder = "Bericht" })
                @Html.ValidationMessageFor(m => m.Content)
                <input type="submit" value="submit">

            }

        </div>
    </div>
</div>
