﻿@model CeeLearnAndDo.Models.Artikel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Titel)</h1>
<img src="~/Omslagfoto/@Html.DisplayFor(model => model.OmslagAfbeelding)" />
<p>@Html.DisplayFor(model => model.Categorie) - Gepubliceerd op @Html.DisplayFor(model => model.Datum)</p>
<div>
    <hr />

    @Html.Raw(Model.Content)
    <hr />
</div>
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Reactie">
        <div class="form-group">
            <label>@User.Identity.Name</label>
            <label>Laat een reactie achter als </label>
            <textarea class="form-control" rows="3" name="reactie" placeholder="Schrijf hier uw reactie"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Plaats reactie</button>
    </form>
}
    <div>
        <a asp-action="Index">Artikelen overzicht</a>
    </div>
