﻿@model IEnumerable<CeeLearnAndDo.Models.Consultant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="NieuweConsultant">Nieuwe consultant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialiteiten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profielfoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ConsultantId">@Html.DisplayFor(modelItem => item.Naam)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialiteiten)
            </td>
            <td>
                <img width="50" src="~/Consultants/@Html.DisplayFor(modelItem => item.Profielfoto)" />
            </td>
             <td>   
                <a asp-action="Wijzigen" asp-route-id="@item.ConsultantId">Wijzigen</a> |
                <a asp-action="Verwijderen" asp-route-id="@item.ConsultantId">Verwijderen</a>
            </td >
        </tr>
}
    </tbody>
</table>
