﻿@model CeeLearnAndDo.Models.Consultant

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Consultant</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="NieuweConsultant" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialiteiten" class="control-label"></label>
                <input asp-for="Specialiteiten" class="form-control" />
                <span asp-validation-for="Specialiteiten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <input asp-for="Omschrijving" class="form-control" />
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profielfoto" class="control-label"></label>
                <input type="file" asp-for="Profielfoto" class="form-control" name="fileobj" />
                <span asp-validation-for="Profielfoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Nieuwe Consultant" class="btn btn-primary" />
            </div>
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

@section Scripts {
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#Omschrijving'
        });
    </script>
}