﻿@model CeeLearnAndDo.Models.ContactInzending

@{
    ViewData["Title"] = "Create";
}

<h1>Contact</h1>

<h4>Heeft u een vraag of opmerking? Vul het onderstaande formulier in en wij beantwoorden zo snel mogelijk!</h4>
<hr />
    <div class="row">
        <div class="col-sm">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Naam" class="control-label"></label>
                    <input asp-for="Naam" class="form-control" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefoon" class="control-label"></label>
                    <input asp-for="Telefoon" class="form-control" />
                    <span asp-validation-for="Telefoon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Verstuur" class="btn btn-primary" />
                </div>
                <div class="alert alert-success" role="alert">
                    @ViewBag.message
                </div>
            </form>
        </div>
    </div>


