﻿@model IEnumerable<CeeLearnAndDo.Models.ContactInzending>

@{
    ViewData["Title"] = "Index";
}

<h1>Bedankt!</h1>

<p>
    Bedankt voor uw bericht! U word snel beantwoord met het door u ingevulde e-mail adres<br />

    Het CeeLearnAndDo Team
</p>



