﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div align="center">
            <h1>Contact</h1>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Heeft u een opmerking of een vraag? Neem contact met ons op door het formulier in te vullen.<br />

        </div>
        <div class="col-md">
            <form action="\Views\Home\BedanktPagina.cshtml\>
                <label for="fname">Naam:</label><br>
                <input type="text" id="fname" name="fname" value="John Doe"><br>
                <label for="fname">Telefoon:</label><br>
                <input type="tel" id="Telefoon" name="Telefoon" value="06 28916944"><br>
                <label for="email">Email-adres:</label><br>
                <input type="Email" id="Email" name="Email" value="JohnDoe@gmail.com"><br>
                <label for="message">Bericht</label><br>
                <input type="text" id="Content" name="Content" value=" "><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
