﻿@{
    ViewData["Title"] = "Home Page";
}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/img/slide1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Wij beantwoorden uw vragen over IT oplossingen</h5>
                    <p>Onze consultants staan voor u klaar</p>
                </div>
            </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/slide2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Goedwerkende IT oplossingen</h5>
                        <p>Die er voor zorgen dat uw data snel, veilig en makkelijk te bereiken is</p>
                    </div>
                </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/slide3.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Kies voor CeeLearnAndo</h5>
                            <p>Dan kunt u zorgeloos doen waar u goed in bent</p>
                        </div>
                    </div>
                    </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<br /><br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Onze artikelen</h5>
                    <p class="card-text">Leer van de CeeLearnAndDo consultants, we schrijven dagelijks nieuwe artikelen.</p>
                    <a asp-area="" asp-controller="Artikelen" asp-action="Index" class="btn btn-primary">Bekijk artikelen</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h5 class="card-title">Alles wat u wilt weten</h5>
                    <p class="card-text">Op onze FAQ pagina publiceren we vragen en antwoorden.</p>
                    <a asp-area="" asp-controller="Vragen" asp-action="Index" class="btn btn-primary">Veel gestelde vragen</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Iets anders vragen?</h5>
                    <p class="card-text">Via het contactformulier kunt u ons benaderen of klant worden.</p>
                    <a asp-area="" asp-controller="ContactInzendings" asp-action="Create" class="btn btn-primary">Contact opnemen</a>
                </div>
            </div>
        </div>
    </div>
