﻿@model IEnumerable<CeeLearnAndDo.Models.Vraag>

@{
    ViewData["Title"] = "Veelgesteldevragen";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Veelgesteldevragen</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumAangemaakt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumBijgewerkt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toestemming)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumAangemaakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumBijgewerkt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toestemming)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VraagId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VraagId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VraagId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
