﻿@model CeeLearnAndDo.Models.Consultant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Naam)</h1>
<img src="~/Consultants/@Html.DisplayFor(model => model.Profielfoto)" />
<p>Gespecialiseerd in @Html.DisplayFor(model => model.Specialiteiten)</p>
<div>
    <hr />

    @Html.Raw(Model.Omschrijving)
    <hr />
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <a href="mailto:@Html.DisplayFor(model => model.Email)">Neem contact op</a>
    </div>
}
    <div>
        <a asp-action="Index">Consultants overzicht</a>
    </div>
