﻿@model IEnumerable<CeeLearnAndDo.Models.Consultant>

@{
    ViewData["Title"] = "Consultants";
}

<h1>Onze consultants</h1>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Consultants/@Html.DisplayFor(modelItem => item.Profielfoto)" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Naam)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Specialiteiten)</p>
            <a asp-action="Details" asp-route-id="@item.ConsultantId" class="btn btn-primary">Bekijken</a>
        </div>
    </div>
}