﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Ik ben mijn wachtwoord kwijt, wat nu?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>Neem contact op via het contactformulier, naar jouw geregistreerde e-mailadres kunnen we een code versturen ter verificatie om je wachtwoord opnieuw in te stellen.</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
