﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Na het klikken op onderstaande link gaat u akkoord met ons privacybeleid en kunt u inloggen.
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om uw account te bevestigen.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
