﻿@model CeeLearnAndDo.Models.Vraag

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Titel);
    Layout = "_Layout";
}



<div>
    <h1>@Html.DisplayFor(model => model.Titel)</h1>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumAangemaakt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumAangemaakt)
        </dd>
        <dt class="col-sm-2">
            Laatste antwoord
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumBijgewerkt)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>


<div>
    <a asp-action="Index">Terug</a>
</div>
