﻿@model IEnumerable<CeeLearnAndDo.Models.Vraag>

@{
    ViewData["Title"] = "Veelgestelde vragen";
    Layout = "_Layout";
}

@section css {
    <style>
        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }

        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "\f103"; /* "play" icon */
            float: right;
            color: #F58723;
            font-size: 18px;
            line-height: 22px;
            /* rotate "play" icon from > (right arrow) to down arrow */
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .panel-heading [data-toggle="collapse"].collapsed:after {
            /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            color: #454444;
        }
    </style>
}


<h1>Veelgestelde vragen</h1>

<p>
    @*<a asp-area="Admin" asp-controller="Vragen" asp-action="Create">Stel een nieuwe vraag</a>*@
</p>
<div class="container">
    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">@Html.DisplayFor(modelItem => item.Titel)</a>
                </h4>
            </div>
            
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <b>Gepubliceerd op: </b>@Html.DisplayFor(modelItem => item.DatumAangemaakt)<br /><br />
                    @Html.Raw(item.Content)
                    <br /><br />
                    <b>Beantwoord op: </b>@Html.DisplayFor(modelItem => item.DatumBijgewerkt)
                    <a asp-action="Details" asp-route-id="@item.VraagId" class="btn btn-primary">Bekijk antwoord</a>
                </div>
            </div>
        </div>
        <hr />
        }
    </div>
</div>