﻿@model CeeLearnAndDo.Models.Artikel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Create</h1>

<h4>Artikel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="NieuwArtikel" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OmslagAfbeelding" class="control-label"></label>
                <input type="file" asp-for="OmslagAfbeelding" class="form-control" name="fileobj" />
                <span asp-validation-for="OmslagAfbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="NieuwArtikel" class="btn btn-primary" />
            </div>
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#Content'
        });
    </script>
}