﻿@model CeeLearnAndDo.Models.Vraag

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Titel);
    Layout = "~/Areas/Kennisbank/Views/Shared/blank.cshtml";
}



<div>
    <h1>@Html.DisplayFor(model => model.Titel)</h1>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumAangemaakt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumAangemaakt)
        </dd>
        <dt class="col-sm-2">
            Laatste antwoord
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumBijgewerkt)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>

@foreach (Reactie_Vraag r in Model.Reacties_Vraag)
{
    @r.Content
}

<form asp-action="Reactie">
    <div class="form-group">
        <label>Laat een reactie achter</label>
        <textarea class="form-control" rows="3" name="reactie" placeholder="Schrijf hier uw reactie"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Plaats reactie</button>
</form>

<div>
    <a asp-action="Index">Terug</a>
</div>
