﻿@model IEnumerable<CeeLearnAndDo.Models.Vraag>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Kennisbank/Views/Shared/blank.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumAangemaakt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toestemming)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.VraagId">@Html.DisplayFor(modelItem => item.Titel)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumAangemaakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toestemming)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VraagId">Wijzigen</a> |
                <a asp-action="Delete" asp-route-id="@item.VraagId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
