﻿@model CeeLearnAndDo.Models.Vraag

@{
    ViewData["Title"] = "NieuweVraag";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>NieuweVraag</h1>

<h4>Vraag</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="NieuweVraag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DatumAangemaakt" class="control-label"></label>
                <input asp-for="DatumAangemaakt" class="form-control" />
                <span asp-validation-for="DatumAangemaakt" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="DatumBijgewerkt" class="control-label"></label>
                <input asp-for="DatumBijgewerkt" class="form-control" />
                <span asp-validation-for="DatumBijgewerkt" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Toestemming" /> @Html.DisplayNameFor(model => model.Toestemming)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

@section Scripts {
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#Content'
        });
    </script>
}