﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Kennisbank/Views/Shared/blank.cshtml";
}

<h1>Kennisbank</h1>
<br />
<div class="row">
    <div class="col-sm-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Nieuwe vraag</h5>
                <p class="card-text">Stel uw vragen aan één van onze consultants.</p>
                <a asp-area="Kennisbank" asp-controller="Vragen" asp-action="NieuweVraag" class="btn btn-primary">Nieuwe vraag</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Vragen</h5>
                <p class="card-text">Bekijk uw vragen.</p>
                <a asp-area="Kennisbank" asp-controller="Vragen" asp-action="Index" class="btn btn-primary">Vragen</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-secondary">
            <div class="card-body">
                <h5 class="card-title">Iets anders vragen?</h5>
                <p class="card-text">Via het contactformulier kunt u ons benaderen of klant worden.</p>
                <a asp-area="" asp-controller="ContactInzendings" asp-action="Create" class="btn btn-primary">Contact opnemen</a>
            </div>
        </div>
    </div>
</div>
